# Python cache / bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/

# Environment variables / secrets
.env
*.key
*.pem

# IDE/editor files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Qt / build artifacts
*.qmlc
*.jsc
.cache/
.cache_user
.cache 
.cache
.cache_user

build
Dupify.spec
dist


Output/
*.spec          
Dupify-Setup-*.exe
config.json
*.log
installer.iss
resources.qrc